video
# *.mp4
__pycache__

#
#
#
PDF
SachTLTK
slideThayNam
#
#
#

contents/docs/__CK

contents/latex/main.nav
contents/latex/main.pdf
contents/latex/main.snm
contents/latex/main.synctex.gz
contents/latex/main.aux
contents/latex/main.fdb_latexmk
contents/latex/main.toc
contents/latex/main.log
contents/latex/main.fls
